
	<footer>
		<div class="footerInner">
			<div class="footerLogo">더 도어스 스크린 골프</div>
			<div class="footerInfo">
				<span>(주)키루스</span>
				<span>대표이사 : 최환동</span>
				<span>사업자등록번호 : 586-86-01040</span>
				<span>전화 : 02-451-0742</span>
				<span>팩스 : 02-451-0743</span>
			<div>
			<div class="telNo">Tel. 1 8 1 1 - 8 5 0 0</div>
			<address>주소 : 서울시 강남구 역삼로 552길 KM빌딩 B1층</address>
			<div class="copyright">Copyright 2019 All Rights Reserved.</div>
			<div class="footerSns">
				<h3>Follow Us.</h3>
				<div class="footerSnsBtns">
					<a href="http://facebook.com/">페이스북</a>
					<a href="https://www.instagram.com/">인스타그램</a>
					<a href="https://www.youtube.com/">유튜브</a>			
				</div>
			</div>
			<div class="goTop"><a href="#">Top</a></div>
		</div>
	</footer>