@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');

@import url("normalize.css");
@import url("common.css");
@import url("skin.css");
@import url("main.css");
@import url("content1.css");
@import url("content3.css");
@import url("content4.css");

/*초기화*/
*{margin:0;padding:0}
html{overflow-x:hidden;overflow-y:auto;width:100%;height:100%;}
body{
	width:100%;
	margin:0px;
	padding:0px;
	font-size:0.9em;
	font-family: 'Roboto', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	letter-spacing:-0.05em;
	word-spacing:0em;
	word-break: normal;
	word-wrap:break-word;
	line-height:150%;
	color:#585858;
	}

p, div, ul, ol, li, dt, dl, dd, header, nav, aside, article, section, footer, figure, address, h1, h2, h3, h4, h5, h6{border:0px;margin:0px;padding:0px;}

table{border-spacing:0;border-collapse:collapse;}
fieldset,img{border:0;}
ul{list-style:none;}
hr{display:none;}

a         {text-decoration:none;color:#373a72;}
a:link    {text-decoration:none;color:#373a72;}
a:visited {text-decoration:none;color:#373a72;}
a:active  {text-decoration:none;color:#373a72;}
a:hover   {text-decoration:none;color:#373a72;}

table tbody tr td {
	cursor: pointer;
}

a {
	cursor: pointer;
}