<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=1200, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="../style/css/reset.css" media="all">
		<title>더 도어스 스크린 골프 고객센터</title>
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js" type="text/javascript"></script>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="../style/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../style/js/jquery.bxslider/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../style/js/main.js"></script>
	</head>
	<body>

	<!--헤더-->
	{{>header}}
	<!--헤더-->

	<!--서브탑-->
	<div class="subTop">
		<div class="subTopInner">
			<h1>고객센터</h1>
			<div class="location">
				<a href="#">고객센터</a> > <span>고객센터</span>
			</div>
		</div>
	</div>
	<!--서브탑-->

	<!--바디-->
	<article>
		<div id="bodyWrap">
		<!--내용시작-->
		<div class="wrap800">


<ul class="customerCenter">
	<li>
		<h3>FAQ 도움말<span>서비스 궁금증에 대한 답변을 안내합니다.</span></h3>
		<a href="#">FAQ 서비스 도움말</a>
		<a href="#">골프용어는 골프용어집</a>
		<a href="#">스트로크 2 의 게임방식은?</a>
	</li>
	<li>
		<h3>더도어스 골프 이용안내<span>더도어스 골프 시스템과<br>서비스에 대해 상세하게 안내합니다.</span></h3>
		<a href="#">더도어스 골프 이용안내</a>
		<a href="#">설치 및 AS 안내</a>
	</li>
</ul>

<div class="faqSearch">
	<label for="faqkeyword">Q</label>
	<input type="text" name="textfield" id="faqkeyword"  title="검색어" placeholder="궁금하신 내용을 지금 검색해보세요."/>
	<input type="submit" name="button" id="button" value="검색" title="검색" />
</div>

<div class="faqWrap">
	<h2>FAQ</h2>
	<!--검색없을시-->
	<p class="noData">검색결과가 존재하지 않습니다.</p>
	<!--검색없을시-->
	<!--목록-->
	<ul>
		<li>
			<a href="#"><span>1</span>나의 골프존 활동 및 경기기록을 모두 비공개...</a>
			<div class="faqAnswer">
				프로필 설정에 들어가신후 설정 아이콘 선택하시면 쉽게 변경 가능합니다.<br>
				안타깝지만 아이디는 변경이 불가능합니다.<br>
				현재로서는 탈퇴를 하신 후 재가입을 하는 방법 밖에 없습니다.<br>
				탈퇴를 하실 경우 그 동안의 개인 라운드 기록, 나스모 등 모든 자료가 삭제 되오니 신중히 고려하시기를 부탁 드립니다.<br>
				또한 탈퇴 후 재가입 시에는 탈퇴 후 30일 후에야 재가입이 가능하오니 참고 부탁드립니다. <br>
				이는 공지 드린 것 과 같이 탈퇴와 재가입을 통해 아이디를 교체하면서<br>
				선량한 이용자들께 피해를 끼치는 행위를 방지하기 위한 조치이며,<br>
				아이디를 임의로 수정할 경우 혹시라도 발행할 수 있는 데이터상의 오류를 최소화 하고자 하는 정책이오니 회원님들의 넓은 양해 바랍니다.
			</div>
		</li>
		<li><a href="#"><span>2</span>나의 골프존 활동 및 경기기록을 모두 비공개...</a></li>
		<li><a href="#"><span>3</span>나의 골프존 활동 및 경기기록을 모두 비공개...</a></li>
		<li><a href="#"><span>4</span>나의 골프존 활동 및 경기기록을 모두 비공개...</a></li>
		<li><a href="#"><span>5</span>나의 골프존 활동 및 경기기록을 모두 비공개...</a></li>
	</ul>
	<!--목록-->
	<!--<a href="#" class="more">더 보기</a>-->
	 <!--페이징-->
	 <div class="paging">
		<a href="#" class="prev10">이전10</a>
		<a href="#" class="prev">이전</a>
		<a href="#" class="on">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">6</a>
		<a href="#">7</a>
		<a href="#">8</a>
		<a href="#">9</a>
		<a href="#">10</a>
		<a href="#" class="next">다음</a>
		<a href="#" class="next10">다음10</a>
	 </div>
	 <!--페이징-->
	 <br><br>
</div>

<div class="customerCenterTel">
	<h3>더도어스 고객센터</h3>
	<p><strong>1811-8500</strong>(평일 9시 - 익일 02시, 토요일 9시 - 23시, 공휴일 9시 - 19시)</p>
</div>


		<div>
		<!--내용끝-->
		</div>
	</article>
	<!--바디-->

	<!--풋터-->
	{{>footer}}
	<!--풋터-->
	
	</body>
</html>