<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=1200, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="../style/css/reset.css" media="all">
		<title>더 도어스 스크린 골프 홀 인원 기록</title>
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js" type="text/javascript"></script>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="../style/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../style/js/jquery.bxslider/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../style/js/main.js"></script>
	</head>
	<body>

	<!--헤더-->
	{{>header}}
	<!--헤더-->

	<!--서브탑-->
	<div class="subTop">
		<div class="subTopInner">
			<h1>홀인원 기록</h1>
			<div class="location">
				<a href="#">COMMUNITY</a> > <span>홀인원 기록</span>
			</div>
		</div>
	</div>
	<!--서브탑-->

	<!--바디-->
	<article>
		<div id="bodyWrap">
		<!--내용시작-->
		<div class="wrap800">
			
			<!--홀인원탑-->
			<div class="holeinoneTop">
				<p>라운드 중 홀인원에 성공한 회원님들의 기록을 확인할 수 있습니다<br>홀인원에 성공하신 걸 축하드립니다.</p>
				<div>홀인원 성공 회원 수<span>15,004 명</span></div>
				<a href="#">홀인원 증서 발급</a>
			</div>
			<!--홀인원탑-->

			<!--기록테이블-->
			<div class="recordWrap">
				<h3 class="allRecordH3 active"><a href="#">전체 기록</a></h3>
				<!--전체기록목록-->
				<div class="allRecord">
					<!--목록-->
					<div class="bbsList">
						<table>
							<caption></caption>
							<colgroup>
							</colgroup>
							<thead>
								<tr>
									<th>번호</th>
									<th>프로필</th>
									<th>코스</th>
									<th>홀</th>
									<th>날짜</th>
									<th>매장명</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
								<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
								<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
							</tbody>
						</table>
					</div>
					 <!--페이징-->
					 <div class="paging">
						<a href="#" class="prev10">이전10</a>
						<a href="#" class="prev">이전</a>
						<a href="#" class="on">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
						<a href="#" class="next">다음</a>
						<a href="#" class="next10">다음10</a>
					 </div>
					 <!--페이징-->
				</div>
				<!--전체기록목록-->

				<h3 class="myRecordH3"><a href="#">나의 기록</a></h3>
				<!--나의기록목록-->
				<div class="myRecord">
					<!--목록-->
					<div class="bbsList">
						<table>
							<caption></caption>
							<colgroup>
							</colgroup>
							<thead>
								<tr>
									<th>번호</th>
									<th>프로필</th>
									<th>코스</th>
									<th>홀</th>
									<th>날짜</th>
									<th>매장명</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
								<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
								<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
																<tr>
									<td>5</td>
									<td class="left"><a href="#"><img src="../images/community/testThum_1.jpg" alt=""> 김도어</a></td>
									<td><a href="#">해비치 제주 - 레이크</a></td>
									<td>8</td>
									<td>2018. 12. 25</td>
									<td>더도어스골프강남점</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--목록-->
					 <!--페이징-->
					 <div class="paging">
						<a href="#" class="prev10">이전10</a>
						<a href="#" class="prev">이전</a>
						<a href="#" class="on">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
						<a href="#" class="next">다음</a>
						<a href="#" class="next10">다음10</a>
					 </div>
					 <!--페이징-->
				</div>
				<!--나의기록목록-->

			<!--기록테이블-->
			</div>

		</div>
		<!--내용끝-->
		</div>
	</article>
	<!--바디-->

	<!--풋터-->
	{{>footer}}
	<!--풋터-->
	
	</body>
</html>